* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1400;
    font-family: 'Georgia', serif;
    background: linear-gradient(135deg, #d4a574 0%, #c69063 100%);
    min-height: 100vh;
    color: #3e2723;
}

.navbar {
    background-color: #4e342e;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.links {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: #d7ccc8;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #6d4c41;
    color: #fff;
}

nav ul li a.active {
    background-color: #8d6e63;
    color: #fff;
}
 
/* ---------------------------MAIN PAGE------------ */
.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 1200px;
    background-color: #efebe9;
    padding: 50px;
    gap: 35px;
    border-radius: 20px;
    border: 3px solid rgb(124, 65, 65);
}
.title  {
    position: relative;
    top: -80;
}
.game1 {
    background-color: #e1b48f;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    top: -100;
}
.game1text {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid black;
    width: 500px;
    height: 600px;
    padding: 30px;
    gap: 20px;
    border-radius: 20px;
    position: relative;
    top: -100;
}

.game2 {
    background-color: #e1b48f;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    top: -100;
}

.game2text {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid black;
    width: 500px;
    height: 600px;
    padding: 30px;
    gap: 20px;
    border-radius: 20px;
    position: relative;
    top: -100;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}